@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

/* CSS Reset */
* {
  box-sizing: border-box;
}

/* -- Colors */
:root{
  --white: hsl(0, 0%, 100%);
  --lt-gray: hsl(0, 0%, 81%);
  --lt-grayish-blue: hsl(210, 46%, 95%);
  --md-violet: hsl(263, 55%, 52%);
  --h-dark-gray: hsl(217, 19%, 35%);
  --hd-blackish-blue: hsl(219, 29%, 14%);

}
body {
  background-color: #edf2f8;
  margin: 0;
  padding: 2rem 0;
  min-height: 100vh;
  font-family: "Barlow Semi Condensed", sans-serif;
/*   font-size: 1.3rem; */
  line-height: 1.8rem;
}
img{
  max-width: 100%;
}
a, li{
  display: inline-block;
  text-decoration: none;
}

/* Utilities  */
.flex{
  display: flex;
  align-items: center;
}
.column{
  flex-direction: column;
}
.gap{
  gap: 1.4rem;
}
.name-div > *{
  margin: 0;
  z-index: 8;
}
.name{
  font-weight: 500;
  align-self: self-start;
}
.verified{
  opacity: 50%;
}
.op-50{
  opacity: 50%;
}

/* Actual Styling */
.container{
  max-width: 1440px;
  width: 80%;
  margin: auto;
}

.card{
  position: relative;
  text-align: left;
  z-index: 9;
  margin-bottom: 1.8rem;
  border-radius: 15px;
  padding: 2rem 2rem ;
}
.quote-svg{
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 0;
  opacity: .6;
}
.avatar{
  border-radius: 50%;
  width: 3rem;
  border: 2px solid white;
  z-index: 8;
}

.card-1{
  background-color: var(--md-violet);
  color: var(--white);
}
.card-2{
  background-color: var(--h-dark-gray);
  color: var(--white);
}
.card-3{
  background-color: var(--white);
  color: var(--hd-blackish-blue);
}
.card-4{
  background-color: var(--h-dark-gray);
  color: var(--white);
}
.card-5{
  background-color: var(--white);
  color: var(--hd-blackish-blue);
}


/* Desktops */
@media (min-width: 800px){
  .container{
    display: grid;
    grid-template-columns: repeat(4, auto);
  }
  .card{
    margin: .8rem;
  }
  .card-1{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .card-3{
    grid-row-start: 2;
  }
  .card-4{
    grid-row-start: 2;
    grid-column: 2 / 4;
  }
  .card-5{
    grid-row-start: span 2;
  }
}
